[D-BUS Service]
Name=org.freedesktop.secrets
Exec=/data/data/com.termux/files/usr/bin/python3 /data/data/com.termux/files/usr/libexec/dummy-keyring-daemon.py
